/****** Object:  Table [MediAdmin].[tbl_ClientLocationMaster]    Script Date: 07-04-2026 03:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_ClientLocationMaster](
	[ClientLocationID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClientID] [bigint] NOT NULL,
	[Address] [varchar](150) NULL,
	[Pincode] [varchar](6) NULL,
	[CityID] [tinyint] NOT NULL,
	[StateID] [tinyint] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedBy] [bigint] NULL,
	[LastUpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__client_l__771831EA39CFC91B] PRIMARY KEY CLUSTERED 
(
	[ClientLocationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_ClientMaster]    Script Date: 07-04-2026 03:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_ClientMaster](
	[ClientID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](150) NOT NULL,
	[ClientTypeID] [tinyint] NULL,
	[CategoryID] [tinyint] NULL,
	[NatureOfBusiness] [varchar](20) NULL,
	[Address] [varchar](150) NOT NULL,
	[CityID] [tinyint] NOT NULL,
	[StateID] [tinyint] NOT NULL,
	[Pincode] [varchar](6) NOT NULL,
	[IsAcitve] [bit] NOT NULL,
	[ContactPerson1Name] [varchar](75) NOT NULL,
	[ContactPerson1Number] [varchar](10) NOT NULL,
	[ContactPerson1EmailID] [varchar](75) NOT NULL,
	[ContactPerson1Designation] [varchar](25) NOT NULL,
	[ContactPerson2Name] [varchar](75) NULL,
	[ContactPerson2Number] [varchar](10) NULL,
	[ContactPerson2EmailID] [varchar](75) NULL,
	[ContactPerson2Designation] [varchar](25) NULL,
	[GSTIN_UIN] [varchar](20) NULL,
	[PANNumber] [varchar](10) NULL,
	[BusinessVertical] [varchar](15) NOT NULL,
	[BillingName] [varchar](75) NULL,
	[BillingAdderss] [varchar](150) NULL,
	[BillingPincode] [varchar](6) NULL,
	[MOUStartDate] [date] NULL,
	[MOUEndDate] [date] NULL,
	[MoUDocumentURL] [varchar](500) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__client_m__BF21A4247EAEE414] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_ClientTypeMaster]    Script Date: 07-04-2026 03:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_ClientTypeMaster](
	[ClientTypeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ClientTypeName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_ClientTypeMaster] PRIMARY KEY CLUSTERED 
(
	[ClientTypeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_Emails]    Script Date: 07-04-2026 03:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_Emails](
	[EmailID] [bigint] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](150) NULL,
	[FromAddress] [nvarchar](35) NOT NULL,
	[ToAddress] [nvarchar](100) NOT NULL,
	[CCAddress] [nvarchar](100) NULL,
	[BCCAddress] [nvarchar](100) NULL,
	[BodyContent] [nvarchar](max) NULL,
	[EmailType] [nvarchar](20) NULL,
	[IsSent] [bit] NOT NULL,
	[SentOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__tbl_Emai__7ED91AEF944021AA] PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_EmployeeMaster]    Script Date: 07-04-2026 03:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_EmployeeMaster](
	[UID] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[CityID] [tinyint] NOT NULL,
	[StateID] [tinyint] NOT NULL,
	[Pincode] [varchar](6) NOT NULL,
	[MobileNumber] [varchar](10) NOT NULL,
	[CompanyEmailID] [varchar](75) NOT NULL,
	[Designation] [varchar](20) NOT NULL,
	[Department] [varchar](15) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__employee__C52E0BA8550B6929] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_ForgotPassword]    Script Date: 07-04-2026 03:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_ForgotPassword](
	[UID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserType] [varchar](10) NOT NULL,
	[ForgetPasswordKey] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ExpiryTimestamp] [datetime] NOT NULL,
	[IsPasswordChanged] [bit] NOT NULL,
	[PasswordUpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__tbl_Forg__C5B69A4AF046ABFB] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_LabMaster]    Script Date: 07-04-2026 03:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_LabMaster](
	[LabID] [bigint] IDENTITY(1,1) NOT NULL,
	[LabName] [varchar](75) NOT NULL,
	[CategoryID] [tinyint] NULL,
	[IsActive] [bit] NULL,
	[Address] [varchar](150) NULL,
	[CityID] [tinyint] NULL,
	[StateID] [tinyint] NULL,
	[Pincode] [varchar](6) NULL,
	[ContactPerson1Name] [varchar](15) NULL,
	[ContactPerson1Number] [varchar](10) NULL,
	[ContactPerson1EmailID] [varchar](75) NULL,
	[ContactPerson1Designation] [varchar](15) NULL,
	[ContactPerson1Name1] [varchar](15) NULL,
	[ContactPerson1Number1] [varchar](10) NULL,
	[ContactPerson1EmailID1] [varchar](75) NULL,
	[ContactPerson1Designation1] [varchar](15) NULL,
	[GSTIN_UIN] [varchar](20) NULL,
	[PANNumber] [varchar](10) NULL,
	[MOUStartDate] [date] NULL,
	[MOUEndDate] [date] NULL,
	[AccreditationID] [tinyint] NULL,
	[CollectionTypes] [varchar](10) NULL,
	[ServicesID] [varchar](10) NULL,
	[CollectionPincodes] [varchar](max) NULL,
	[AccreditationExpirationDate] [datetime] NULL,
	[LabGrade] [varchar](20) NULL,
	[MoUDocumentURL] [varchar](500) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[LastUpdatedBy] [bigint] NULL,
	[LastUpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__lab_mast__66DE64DBB94CECAB] PRIMARY KEY CLUSTERED 
(
	[LabID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_Leads]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_Leads](
	[LeadID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClientID] [bigint] NOT NULL,
	[PatientID] [varchar](20) NOT NULL,
	[PatientName] [varchar](100) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Gender] [varchar](1) NOT NULL,
	[PackageID] [int] NOT NULL,
	[ContactNumber] [varchar](10) NOT NULL,
	[EmailID] [varchar](75) NOT NULL,
	[Address] [varchar](150) NOT NULL,
	[CityID] [tinyint] NOT NULL,
	[StateID] [tinyint] NOT NULL,
	[Pincode] [varchar](6) NOT NULL,
	[LeadStatusID] [tinyint] NOT NULL,
	[LabID] [bigint] NULL,
	[AppointmentAt] [datetime] NULL,
	[ReportURL] [varchar](500) NULL,
	[IsFit] [tinyint] NULL,
	[FitUpdatedOn] [datetime] NULL,
	[IsReportDownloadable] [bit] NOT NULL,
	[ApprovalRemarks] [varchar](250) NULL,
	[IsFitCertifiedGenerated] [bit] NOT NULL,
	[FitCertifiedGeneratedOn] [datetime] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_Leads] PRIMARY KEY CLUSTERED 
(
	[LeadID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_LeadsHistory]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_LeadsHistory](
	[UID] [bigint] IDENTITY(1,1) NOT NULL,
	[LeadID] [bigint] NOT NULL,
	[Action] [varchar](30) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_LeadsHistory] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_LeadStatusMaster]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_LeadStatusMaster](
	[LeadStatusID] [tinyint] NOT NULL,
	[LeadStatusName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_LeadStatusMaster] PRIMARY KEY CLUSTERED 
(
	[LeadStatusID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_Login]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_Login](
	[RecordID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Pwd] [varchar](100) NOT NULL,
	[UserType] [varchar](10) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_MediAdmin_tbl_Login] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MediAdmin_USERID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_PackageClientMapping]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_PackageClientMapping](
	[PackageClientID] [bigint] IDENTITY(1,1) NOT NULL,
	[PackageID] [bigint] NOT NULL,
	[ClientID] [bigint] NOT NULL,
	[Price] [smallint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__tbl_Pack__DB18386A4736A44F] PRIMARY KEY CLUSTERED 
(
	[PackageClientID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_PackageLabMapping]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_PackageLabMapping](
	[PackageLabID] [bigint] IDENTITY(1,1) NOT NULL,
	[PackageID] [bigint] NOT NULL,
	[LabID] [bigint] NOT NULL,
	[Price] [smallint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__tbl_Pack__697C403D8AA49322] PRIMARY KEY CLUSTERED 
(
	[PackageLabID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_PackageMaster]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_PackageMaster](
	[PackageID] [bigint] IDENTITY(1,1) NOT NULL,
	[PackageName] [varchar](75) NOT NULL,
	[Description] [varchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__tbl_Pack__322035EC17012845] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_PackageTestMapping]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_PackageTestMapping](
	[PackageTestID] [bigint] IDENTITY(1,1) NOT NULL,
	[PackageID] [bigint] NOT NULL,
	[TestID] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__tbl_Pack__DB90EDCEA808178C] PRIMARY KEY CLUSTERED 
(
	[PackageTestID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MediAdmin].[tbl_TestMaster]    Script Date: 07-04-2026 03:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MediAdmin].[tbl_TestMaster](
	[TestID] [bigint] IDENTITY(1,1) NOT NULL,
	[TestName] [varchar](50) NOT NULL,
	[Category] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [bigint] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK__tbl_Test__8CC3310036B7BD27] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [MediAdmin].[tbl_ClientLocationMaster] ADD  CONSTRAINT [DF__client_lo__is_ac__2077C861]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_ClientLocationMaster] ADD  CONSTRAINT [DF_MediAdmin_tbl_ClientLocationMaster_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_ClientLocationMaster] ADD  CONSTRAINT [DF_MediAdmin_tbl_ClientLocationMaster_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_ClientMaster] ADD  CONSTRAINT [DF_tbl_ClientMaster_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_ClientMaster] ADD  CONSTRAINT [DF_tbl_ClientMaster_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_ClientTypeMaster] ADD  CONSTRAINT [DF_tbl_ClientTypeMaster_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_ClientTypeMaster] ADD  CONSTRAINT [DF_tbl_ClientTypeMaster_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_ClientTypeMaster] ADD  CONSTRAINT [DF_tbl_ClientTypeMaster_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_Emails] ADD  CONSTRAINT [DF__tbl_Email__IsSen__55BFB948]  DEFAULT ((0)) FOR [IsSent]
GO
ALTER TABLE [MediAdmin].[tbl_Emails] ADD  CONSTRAINT [DF__tbl_Email__Creat__56B3DD81]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_Emails] ADD  CONSTRAINT [DF__tbl_Email__LastU__57A801BA]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_EmployeeMaster] ADD  CONSTRAINT [DF_MediAdmin_tbl_EmployeeMaster_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_EmployeeMaster] ADD  CONSTRAINT [DF_MediAdmin_tbl_EmployeeMaster_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_ForgotPassword] ADD  CONSTRAINT [DF__tbl_Forgo__Creat__5A846E65]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_ForgotPassword] ADD  CONSTRAINT [DF__tbl_Forgo__IsPas__5B78929E]  DEFAULT ((0)) FOR [IsPasswordChanged]
GO
ALTER TABLE [MediAdmin].[tbl_LabMaster] ADD  CONSTRAINT [DF_MediAdmin_tbl_LabMaster_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_LabMaster] ADD  CONSTRAINT [DF_MediAdmin_tbl_LabMaster_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_Leads] ADD  CONSTRAINT [DF_tbl_Leads_IsReportDownloadable]  DEFAULT ((0)) FOR [IsReportDownloadable]
GO
ALTER TABLE [MediAdmin].[tbl_Leads] ADD  CONSTRAINT [DF__tbl_Leads__IsFit__1590259A]  DEFAULT ((0)) FOR [IsFitCertifiedGenerated]
GO
ALTER TABLE [MediAdmin].[tbl_Leads] ADD  CONSTRAINT [DF_MediAdmin_tbl_Leads_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_Leads] ADD  CONSTRAINT [DF_MediAdmin_tbl_Leads_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_LeadsHistory] ADD  CONSTRAINT [DF_MediAdmin_tbl_LeadsHistory_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_LeadStatusMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_LeadStatusMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_LeadStatusMaster] ADD  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_Login] ADD  CONSTRAINT [DF_MediAdmin_tbl_Login_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_Login] ADD  CONSTRAINT [DF_MediAdmin_tbl_Login_LastUpdatedOn]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageClientMapping] ADD  CONSTRAINT [DF__tbl_Packa__IsAct__65F62111]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_PackageClientMapping] ADD  CONSTRAINT [DF__tbl_Packa__Creat__66EA454A]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageClientMapping] ADD  CONSTRAINT [DF__tbl_Packa__LastU__67DE6983]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageLabMapping] ADD  CONSTRAINT [DF__tbl_Packa__IsAct__68D28DBC]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_PackageLabMapping] ADD  CONSTRAINT [DF__tbl_Packa__Creat__69C6B1F5]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageLabMapping] ADD  CONSTRAINT [DF__tbl_Packa__LastU__6ABAD62E]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageMaster] ADD  CONSTRAINT [DF__tbl_Packa__IsAct__6BAEFA67]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_PackageMaster] ADD  CONSTRAINT [DF__tbl_Packa__Creat__6CA31EA0]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageMaster] ADD  CONSTRAINT [DF__tbl_Packa__LastU__6D9742D9]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageTestMapping] ADD  CONSTRAINT [DF__tbl_Packa__IsAct__6E8B6712]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_PackageTestMapping] ADD  CONSTRAINT [DF__tbl_Packa__Creat__6F7F8B4B]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageTestMapping] ADD  CONSTRAINT [DF__tbl_Packa__LastU__7073AF84]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_TestMaster] ADD  CONSTRAINT [DF__tbl_TestM__IsAct__7167D3BD]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MediAdmin].[tbl_TestMaster] ADD  CONSTRAINT [DF__tbl_TestM__Creat__725BF7F6]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_TestMaster] ADD  CONSTRAINT [DF__tbl_TestM__LastU__73501C2F]  DEFAULT (getdate()) FOR [LastUpdatedOn]
GO
ALTER TABLE [MediAdmin].[tbl_PackageClientMapping]  WITH CHECK ADD  CONSTRAINT [FK_PackageClientMapping_Package] FOREIGN KEY([PackageID])
REFERENCES [MediAdmin].[tbl_PackageMaster] ([PackageID])
GO
ALTER TABLE [MediAdmin].[tbl_PackageClientMapping] CHECK CONSTRAINT [FK_PackageClientMapping_Package]
GO
ALTER TABLE [MediAdmin].[tbl_PackageLabMapping]  WITH CHECK ADD  CONSTRAINT [FK_PackageLabMapping_Package] FOREIGN KEY([PackageID])
REFERENCES [MediAdmin].[tbl_PackageMaster] ([PackageID])
GO
ALTER TABLE [MediAdmin].[tbl_PackageLabMapping] CHECK CONSTRAINT [FK_PackageLabMapping_Package]
GO
ALTER TABLE [MediAdmin].[tbl_PackageTestMapping]  WITH CHECK ADD  CONSTRAINT [FK_PackageTestMapping_Package] FOREIGN KEY([PackageID])
REFERENCES [MediAdmin].[tbl_PackageMaster] ([PackageID])
GO
ALTER TABLE [MediAdmin].[tbl_PackageTestMapping] CHECK CONSTRAINT [FK_PackageTestMapping_Package]
GO
ALTER TABLE [MediAdmin].[tbl_PackageTestMapping]  WITH CHECK ADD  CONSTRAINT [FK_PackageTestMapping_Test] FOREIGN KEY([TestID])
REFERENCES [MediAdmin].[tbl_TestMaster] ([TestID])
GO
ALTER TABLE [MediAdmin].[tbl_PackageTestMapping] CHECK CONSTRAINT [FK_PackageTestMapping_Test]
GO
